In [2]:
import csv
import datetime
from pprint import pprint
import pandas as pd

In [3]:
movies_pd = pd.read_csv('../ml-latest-small/movies.csv',index_col=0)
ratings_df = pd.read_csv('../ml-latest-small/ratings.csv')
links_df = pd.read_csv('../ml-latest-small/links.csv',index_col=0)

In [6]:
len(movies_pd)

9742

In [8]:
grouped_ratings = ratings_df.groupby('movieId')

In [9]:
grouped_ratings_mean = grouped_ratings.mean()

In [12]:
len(grouped_ratings_mean)

9724

In [16]:
movie_df = pd.merge(movies_pd, grouped_ratings_mean, on='movieId',how='left').drop('userId', axis=1).drop('timestamp', axis=1)

In [17]:
movie_df = movie_df.drop('genres', axis=1)

In [19]:
movie_df = pd.merge(movie_df, links_df, on='movieId')

In [20]:
now = datetime.datetime.now().isoformat()

In [21]:
movie_df['imageUrl'] = ''
movie_df['description'] = ''
movie_df['quoteSource'] = ''
movie_df['nearestMovieIds'] = '[]'
movie_df['createdAt'] = now
movie_df['updatedAt'] = now

In [22]:
movie_df = movie_df.rename(columns={'rating':'averageRating'})

In [23]:
movie_df

,title,averageRating,imdbId,tmdbId,imageUrl,videoUrl,description,quoteSource,nearestMovieIds,createdAt,updatedAt
movieId,,,,,,,,,,,
1,Toy Story (1995),3.920930,114709,862.0,,,,,[],2022-04-27T00:16:35.598034,2022-04-27T00:16:35.598034
2,Jumanji (1995),3.431818,113497,8844.0,,,,,[],2022-04-27T00:16:35.598034,2022-04-27T00:16:35.598034
3,Grumpier Old Men (1995),3.259615,113228,15602.0,,,,,[],2022-04-27T00:16:35.598034,2022-04-27T00:16:35.598034
4,Waiting to Exhale (1995),2.357143,114885,31357.0,,,,,[],2022-04-27T00:16:35.598034,2022-04-27T00:16:35.598034
5,Father of the Bride Part II (1995),3.071429,113041,11862.0,,,,,[],2022-04-27T00:16:35.598034,2022-04-27T00:16:35.598034
...,...,...,...,...,...,...,...,...,...,...,...
193581,Black Butler: Book of the Atlantic (2017),4.000000,5476944,432131.0,,,,,[],2022-04-27T00:16:35.598034,2022-04-27T00:16:35.598034
193583,No Game No Life: Zero (2017),3.500000,5914996,445030.0,,,,,[],2022-04-27T00:16:35.598034,2022-04-27T00:16:35.598034
193585,Flint (2017),3.500000,6397426,479308.0,,,,,[],2022-04-27T00:16:35.598034,2022-04-27T00:16:35.598034
193587,Bungo Stray Dogs: Dead Apple (2018),3.500000,8391976,483455.0,,,,,[],2022-04-27T00:16:35.598034,2022-04-27T00:16:35.598034
193609,Andrew Dice Clay: Dice Rules (1991),4.000000,101726,37891.0,,,,,[],2022-04-27T00:16:35.598034,2022-04-27T00:16:35.598034

In [26]:
movie_df.to_csv('csv/movies.csv')